<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copright ©2017 Rails106
        <br>Design by
        <a href="http://courses.growthschool.com/xourses/rails-101/" target_new>xdite</a>
    </p>
</footer>
